:root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --Strong-cyan: hsl(172, 67%, 45%);

  background-color: var(--Light-grayish-cyan);

  font-family: 'Space Mono', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--Dark-grayish-cyan);

/*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html{ box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;  
}

input {
  outline: none;
}

h3,
p{
  margin: 0px;
  padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']{
  -moz-appearance: textfield;
}

.App{
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}

.header{
  display: flex;
  justify-content: center;
}

.card{
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-bottom: 2rem;
}

.card--caculator{
  display: flex;
  padding: 2rem;
  padding-bottom: 0rem;
  flex-direction: column;
  row-gap: 1.5rem;
}

.input--group{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.input input{
  width: 100%;
  padding: 5px 15px;
  border: none;
  text-align: right;
  color: var(--Very-dark-cyan);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Space Mono', Helvetica, Arial, sans-serif;
  padding-left: 40px;
}

.input input:active{
  border: none;
}

.bill input{
  background: url('./assets/icon-dollar.svg') no-repeat;
  background-position: 15px 50%;
  background-color: var(--Very-light-grayish-cyan);
}

.number-of-people input{
  background: url('./assets/icon-person.svg') no-repeat;
  background-position: 15px 50%;
  background-color: var(--Very-light-grayish-cyan);
}

.tip--section{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.button-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

button{
  border: none;
  border-radius: .3rem;
  padding: .5rem 2rem;
  
  color: white;
  cursor: pointer;
  background-color: var(--Very-dark-cyan);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Space Mono', Helvetica, Arial, sans-serif;
}

.tip--input{
  width: 148px;
  border-radius: .3rem;
  padding: 0px;
  border: none;
  text-align: center;
  padding: 0px;
  font-size: 20px; 
  font-family: 'Space Mono', Helvetica, Arial, sans-serif;
  background-color: var(--Very-light-grayish-cyan);
  
  color: var(--Very-dark-cyan);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.tip--input::placeholder{
  color: var(--Very-dark-cyan);
}

button:hover{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

button:nth-child(6){
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
}

.card--result{
  background-color: var(--Very-dark-cyan);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 2rem 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0rem 1.5rem;
  border-radius: 1rem;
  
}

.card--result--header{
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}

.result{
  display: flex;
  justify-content: space-between  ;
}

.result--description h3{
  font-size: 15px;
  color: var(--Very-light-grayish-cyan);
}

.result--description p{
  font-size: 12px;
}

.result--price{
  font-size: 24px;
  color: var(--Strong-cyan);
}

.card--result--footer button{
  width: 100%;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  text-transform: uppercase;
}

.card--result--footer button:hover{
  background-color: var(--Very-light-grayish-cyan);
}

@media (min-width: 720px) {

  .tip--input,
  button{
  width: 110px;

  }

  
  .App{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem;
  }

  .card{
    flex-direction: row;
    row-gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
  }

  .card--caculator{
    padding-bottom: 2rem;
    flex: 1;
  }

  .button-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .card--result{
    flex: 1;
  }

  .card--result{
    background-color: var(--Very-dark-cyan);
    display: flex;
    flex-direction: column;
    width: 400px;
    row-gap: 1.5rem;
    padding: 3rem;
    border-radius: 1rem;
    row-gap: 7rem;
  }
  
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}